@import "/src/styles/styles.scss";

p,
ul {
	margin: 0;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(18, 20, 23, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalBox {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 24px;
	padding: 15px;
	max-width: 320px;
	z-index: 100;
	overflow-y: auto;
	max-height: 80vh;
	border-radius: 24px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	@media (min-width: 768px) {
		padding: 40px;
		max-width: 100%;
		max-height: 600px;
		overflow-y: scroll;
		top: 40%;
	}

	@media (max-width: 1080px) {
		top: 50%;
		height: 600px;
		overflow-y: scroll;
	}

	@media (min-width: 1440px) {
		top: 50%;
		padding: 40px;
		overflow-y: hidden;
		max-width: 100%;
		max-height: 100%;
	}
}

.btnClose {
	position: absolute;
	color: black;
	top: -24px;
	right: -24px;
	background-color: transparent;
	width: 28px;
	height: 28px;
	padding: 0px;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	&:focus {
		outline: none;
	}
}

.closeIcon {
	color: #121417;
}

.contentWrapper {
	position: relative;
	background-color: white;
	border-radius: 24px;

	@media (min-width: 768px) {
		width: 461px;
	}

	@media (min-width: 1440px) {
		width: 461px;
	}
}

.img {
	display: block;
	width: 461px;
	height: 248px;
	object-fit: cover;
	border-radius: 14px;
}

.infoWrapper {
	width: 100%;
	align-items: center;
}

.mainInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 14px;
	margin-bottom: 8px;
	font-weight: 500;
	line-height: 24px;
}

.carInfo {
	display: flex;
	width: 100%;
	gap: 5px;
}

.carText {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #121417;
	font-size: 16px;
	line-height: 24px;
}

.modelBlue {
	color: #3470ff;
	font-size: 16px;
}

.secondaryInfo {
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
	color: rgba(18, 20, 23, 0.5);
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	gap: 3px;
	margin-bottom: 14px;
}

.secondaryCarText {
	color: rgba(18, 20, 23, 0.5);
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	border-right: 1px solid rgba(18, 20, 23, 0.2);
	padding-right: 3px;
}

.descriprion {
	color: #121417;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.accessories {
	display: flex;
	flex-direction: column;
	margin: 24px 0;
}

.accessoriesTitle {
	color: #121417;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	margin-bottom: 8px;
}

.accessoryList {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	color: rgba(18, 20, 23, 0.5);
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	gap: 3px;
}

.accessoryListItem {
	color: rgba(18, 20, 23, 0.5);
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	border-right: 1px solid rgba(18, 20, 23, 0.2);
	padding-right: 3px;
}

.rentalBlock {
	padding: 0;
	margin: 0;
}

.rentalTitle {
	margin-bottom: 8px;
	color: #121417;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.43;
}

.rentalInfo {
	width: 320px;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 24px;

	@media (min-width: 768px) {
		width: 100%;
	}

	@media (min-width: 1440px) {
		width: 100%;
	}
}

.rentalItem {
	padding: 7px 14px;
	border-radius: 35px;
	background: #f9f9f9;
	color: #363535;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;

	& span {
		color: #3470ff;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: -0.24px;
	}
}
