@import "/src/styles/styles.scss";

.loadMoreBtn {
	min-width: 85px;
	color: $color-blue;
	font-size: 16px;
	font-weight: 500;
	line-height: calc(24px / 16px);
	text-decoration-line: underline;
	padding: 9px 2px;
	border: 2px solid transparent;
	outline: none;
	transition: all $transition-duration $cubic;
	margin-top: 30px;

	&:hover {
		color: $color-hover;
		border: 2px solid $color-hover;
	}
	&:focus {
		border: 2px solid $color-hover;
		outline: none;
	}
	@include tablet {
		margin-top: 50px;
	}
}
