@import "/src/styles/styles.scss";

.section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	padding: 30px 0px 80px;

	@include tablet {
		padding: 40px 0px 80px;
	}
	@include desktop {
		padding: 50px 0px 80px;
	}
}

.inputsBlock {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	gap: 18px;
	margin-top: 50px;
}

.inputBlock {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.inputBtn {
	position: absolute;
	padding: 0;
	right: 14px;
	top: 40px;
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	&:focus {
		outline: none;
	}
}
.modelDropdown,
.priceDropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 100%;
	width: 224px;
	max-height: 272px;
	overflow: auto;
	padding: 8px 8px 8px 18px;
	z-index: 100;
	border-radius: 14px;
	border: 1px solid rgba(18, 20, 23, 0.05);
	background: $color-white;
	box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
	margin-top: 3px;

	&::-webkit-scrollbar {
		width: 8px;
		height: 130px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: rgba(18, 20, 23, 0.05);
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: $color-white;
	}

	&::-webkit-scrollbar-track {
		background-color: $color-white;
	}
}

.optionList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	width: 120px;
	margin-right: auto;
}

.optionListItem {
	font-size: 16px;
	font-weight: 500;
	line-height: calc(20px / 16px);
	color: rgba(18, 20, 23, 0.2);
	transition: all $transition-duration $cubic;
	cursor: pointer;

	&:hover {
		color: rgba(18, 20, 23, 0.8);
	}
}

.label {
	font-weight: 500;
	line-height: calc(18px / 14px);
	color: #8a8a89;
	margin-bottom: 8px;
}
.input {
	display: flex;
	padding: 10px 10px 10px 18px;
	min-height: 24px;
	justify-content: center;
	align-items: center;
	gap: 32px;
	border-radius: 14px;
	background: #f7f7fb;
	border: none;
	outline: none;
	color: #000;
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;

	&::placeholder {
		color: #121417;
	}

	@media (min-width: 768px) {
		padding: 12px 12px 12px 18px;
	}

	@media (min-width: 1440px) {
		padding: 14px 14px 14px 18px;
	}
}
.modelInput {
	width: 224px;
}
.priceInput {
	width: 125px;
}
.inputMileageFrom,
.inputMileageTo {
	width: 160px;
	border-radius: 0;
}
.inputMileageFrom {
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	border-right: 1px solid rgba(18, 20, 23, 0.1);
}
.inputMileageTo {
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
}
.mileageInputWrapper {
	display: flex;
	gap: 0;
}

.arrowDown,
.arrowUp {
	width: 20px;
	height: 20px;
	margin: 0;
	color: #121417;
}

.searchBtn,
.undoBtn {
	padding: 14px 20px;
	color: $color-white;
	font-weight: 600;
	line-height: calc(20px / 14px);
	border-radius: 12px;
	background: $color-blue;
	border: none;
	cursor: pointer;
	transition: all $transition-duration $cubic;

	&:hover {
		background: $color-hover;
	}
	&:focus,
	&:focus-visible {
		outline: none;
	}

	@include tablet {
		padding: 13px 30px;
	}
	@include desktop {
		padding: 13px 44px;
	}
}
