@import "/src/styles/styles.scss";
.nav {
	position: fixed;
	left: calc(5% + 10vw);
	top: 1px;
	@include tablet {
		left: calc(10% + 15vw);
	}
	@include desktop {
		left: calc(15% + 20vw);
	}
}

.navList {
	display: grid;
	grid-template-columns: repeat(3, 80px);
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 5px;
	@include tablet {
		gap: 30px;
	}
	@include desktop {
		gap: 50px;
	}
}

.navListItem {
	margin: 0;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(52, 112, 255, 0.5);
	border-radius: 10px;
	&:hover {
		background: $color-hover;
	}
}
.navLink {
	color: $color-white;
	&:hover {
		color: $color-white;
	}
}
