.title {
	font-size: 70px;
	color: #3470ff;
	font-family: Manrope;
	position: absolute;
	top: 5%;
	right: 30%;
	transform: translateY(-5%);
	transform: translateX(30%);
}

.img {
	width: 100%;
	height: 100vh;
}
