@import "/src/styles/styles.scss";

.title {
	font-size: 70px;
	color: #3470ff;
	position: absolute;
	top: 10%;
	right: 30%;
	transform: translateY(-10%);
	transform: translateX(30%);
}

.img {
	width: 100%;
	height: 100vh;
}
